.nav-logo img {
  width: 100%;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}
.navbar .nav-header {
  display: inline;
}
.navbar .nav-header .nav-logo {
  display: inline-block;
}
.navbar .nav-links {
  display: flex;
  float: right;
  grid-gap: 30px;
}
.navbar .nav-links a {
  padding: 10px 0px;
  text-decoration: none;
  color: var(--color-tertiary);
  font-weight: 500;
}
.navbar .nav-links a:hover {
  color: var(--color-primary) !important;
}
.navbar #nav-check,
.navbar .nav-btn {
  display: none;
}
.header {
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  z-index: 100;
  margin: 0 auto;
  position: sticky;
  background-color: var(--white);
  border-bottom: 1px solid #f5f5f5;
}